body{
    background-color: rgb(100,100,100);
}

.box{
    width: 800px;
    height: 500px;
    margin: 100px auto 0px auto;
    border: 10px solid #000;
    color:#000;
    background-image: url("/images/tree.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: contain;
    overflow: scroll;
    background-attachment:local ;
}f

h1,p{
    margin:25px 30px;
    float:left;
    font-family: tahoma;
}

h1{
    font-size: 70px;
}

p{
    font-size: 30px;
}