body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 30%;
    row-gap: 20px;
    margin: auto;
    border: 1px solid gray ;
    padding: 30px;
}