* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
  color: black;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  height: 450px;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.container i {
  color: white;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform ease 0.5s;
  opacity: 0;
}
